@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* Optional: use 100vw to guarantee full viewport width, but be careful with scrollbars if padding/margin are added later */
  /* width: 100vw; */
}
